html {
  overscroll-behavior: none;
}

html,
body {
  box-sizing: border-box;
  background-color: rgba(51, 45, 45, 1);
  margin: 0 auto;
  max-width: 760px;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
input,
button {
  color: #ecf0f1;
  font-family: Roboto, Helvetica;
  font-size: 17px;
}

.navbar {
  background-color: rgba(148,89,246, 1);
}

h5 {
  text-align: center;
}

h6 {
  background-color: rgba(148,89,246, 1);
  border-bottom: 5px solid #ecf0f1;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

a {
  font-weight: bold;
}

a,
a:hover {
  color: #ecf0f1;
}

pre {
  white-space: pre-wrap;
}

pre code {
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
}

label {
  display: block;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

.zone-container {
  background-color: rgba(51, 45, 45, 1);
  border: 2px dotted rgba(148,89,246, 1);
  transition: all 0.5s;
  min-height: 75px;
}

.zone-container:hover {
  background-color: rgba(3, 218, 197, 0.1);
  border: 2px solid rgba(3, 218, 197, 1);
}

.players-col, .ranks-col{
  background-color: rgba(51, 45, 45, 1);
}

.ranks-col {
  padding-left: 0 !important;
}

.zone-container.players>div {
  background-color: rgba(148,89,246, 1);
  margin: 15px 0px 15px 0px;
  transition: opacity 0.4s ease-in-out 0s;
  cursor: grab;
}

.zone-container.players>div:hover {
  background-color: rgba(3, 218, 197, 1);
}

.zone-container.ranks {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1px !important;
}

.zone-container.ranks>div {
  background-color: rgba(3, 218, 197, 1);
  transition: opacity 0.4s ease-in-out 0s;
  cursor: grab;
  width: 100%;
  max-height: 60px;
}

.zone-container.ranks>img {
  max-width: 25%;
  position: absolute;
  right: 0;
  top: 0;
}

.gu-mirror {
  cursor: grabbing;
}

.position-label {
  display: contents;
}

#rank-column-1,
#rank-column-2 {
  background-image: url(./img/bg/mia-bg.png);
  background-size: cover;
}

#rank-column-3 {
  background-image: url(./img/bg/phi-bg.png);
  background-size: cover;
}

#rank-column-4 {
  background-image: url(./img/bg/den-bg.png);
  background-size: cover;
}

#player-column {
  min-height: 100%;
}

.player {
  font-size: small;
  padding: 5px;
  min-height: 50px;
  width: 100%;

  /* wrap text to new line */
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
}

.name {
  display: flex;
  align-items: center; /* Center vertically */

  /* wrap text to new line */
  word-wrap: break-word;
  word-break: break-word;
  justify-content: center;
  flex: 1;

  font-weight: bold;
  border-radius: 0 4px 4px 0;
  background-color: rgba(0,0,0,.3);
}

div.rank, div.name {
    pointer-events: none;
}

.small-logo {
  height: 30px;
  width: 30px;
}

.popover {
    background-color: transparent;
    border: none; /* Optional: If you also want to remove the border */
    box-shadow: none; /* Optional: If you also want to remove the shadow */
}